<h1>Query</h1>
<div class="btn-group" data-toggle="buttons-radio" id="format-radio-group">
  <button type="button" class="btn active" value="json">JSON</button>
  <button type="button" class="btn" value="csv">CSV</button>
</div>

<%= button_tag "Run Query", :id => "run_query", :class => "btn btn-primary" %>

<%= text_area_tag "query", nil, :rows => 20, :class => "span12", :id => "query" %>

<h1>Result</h1>
<%= text_area_tag "result", nil, :rows => 20, :class => "span12", :id => "result" %>
